:root {
    --white: rgba(255, 255, 255, 1);
    --grey105: rgb(105, 105, 105);
    --bg-color: rgba(166, 201, 255, 1);
    --accent: rgba(255, 75, 75, 1);
    --violet: rgba(180, 127, 246, 1);
    --dark-violet: rgba(112, 41, 203, 1);
    --light-violet: rgba(216, 127, 246, 1);
    --superlight-violet: rgba(190, 185, 255, 1);
    --dark-green: rgba(73, 121, 87, 1);
    --ban-color: rgba(58, 222, 75, 1);
    --lemon-color: rgba(212, 255, 90, 1);
    --card-color: rgba(73, 121, 87, 1);
    --card-border-color: rgba(0, 255, 74, 1);
}