.blocks {
    margin-top: 40px;
    &__title {
        display: block;
        text-align: center;
        padding-left: 12px;
    }
    &__wrapper {
        margin-top: 40px;
        background: var(--superlight-violet, rgba(190, 185, 255, 1));
        display: grid;
        gap: 13px;
        padding-bottom: 5px;
    }
    &__row {
        display: grid;
        gap: 13px;
        grid-template-rows: minmax(198px, auto);
        &_1 {
            grid-template-columns: 392px 765px;
        }
        &_2 {
            grid-template-columns: 995px 162px;
        }
    }
    &__item {
        background: var(--ban-color, rgba(58, 222, 75, 1));
        display: flex;
        justify-content: center;
        align-items: center;
    }
}