.footer {
    margin-top: 40px;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
    padding-left: 204.5px;
    background: var(--light-violet, rgba(216, 127, 246, 1));
    // position: fixed;
    // bottom: 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 176px;
    }
    &__item {
        text-decoration: none;
        position: relative;
        transition: color 0.3s;
    }
}