.header {
    background: var(--violet, rgba(180, 127, 246, 1));
    padding: 55px 56px 48px 155px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 40px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 60px;
    }
    &__item {
        text-decoration: none;
        position: relative;
        transition: color 0.3s;
    }
    &__burger {
		display: block;
		width: 43px;
		height: 36px;
        cursor: pointer;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #fff;
            margin-top: 9px;
            transition: 0.5s all;
        }
        &.active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(11px) rotate(-29deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(1px) rotate(29deg);
                }
            }
        }  
    }
    &__menu {
        position: absolute;
        z-index: 2;
        top: 0;
        left: -100%;
        width: 452px;
        padding: 32px 63.5px 56px 63.5px;
        background: var(--bg-color, rgba(166, 201, 255, 1));
        border: 1px solid var(--card-border-color, rgba(0, 255, 74, 1));
        transition: 0.6s all;
        &.active{
            left: 0;
        }
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 39px;
        }
        &-item {
            text-decoration: none;
            position: relative;
            transition: color 0.3s;
        }
        &-btn {
            margin: 55px 30px 0 30px;
        }
    }
}