.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, 0.56);
    z-index: 5;
    &__dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 400px;
        max-width: 80%;
    }
    &__content {
        position: relative;
        width: 100%;
        padding: 40px;
        background: var(--bg-color, rgba(166, 201, 255, 1));
        border: 1px solid rgba(0,0,0,.2);
        min-height: 400px;
        max-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 43px;
        height: 39px;
        background: var(--card-color, rgba(73, 121, 87, 1));
        border-radius: 5px;
        border: none;
        padding: 9px 14px;
        font-size: 30px;
        line-height: 20px;
        color: var(--white, rgba(255, 255, 255, 1));
        cursor: pointer;
        &:hover {
            box-shadow: 2px 5px 10px var(--dark-green, rgba(73, 121, 87, 1));
        }
    }
    &__text {

    }
}

.hide {
    display: none;
    animation: hide 1s;
}

.show {
    display: block;
    animation: show 1s;
}