.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: var(--white, rgba(255, 255, 255, 1));
    &_fz28 {
        font-size: 28px;
        line-height: 45px;
    }
    &_fz30 {
        font-size: 30px;
        line-height: 45px;
    }
    &_fz53 {
        font-size: 53px;
        line-height: 62.11px;
    }
    &_fw500 {
        font-weight: 500;
    }
    &_fw600 {
        font-weight: 600;
    }
    &_fw700 {
        font-weight: 700;
    }
}